.button{
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-border-color: white;
}

.button:pressed{
    -fx-border-color: red;
}

.label{
    -fx-font-size: 14pt;
    -fx-text-fill: white;
}

.textOutLabel{
    -fx-font-style: italic;
    -fx-font-size: 14pt;
}

.moneyButton{
    -fx-background-radius: 20;
    -fx-background-color: yellow;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-pref-height: 40;
    -fx-pref-width: 40;

}
